.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo:hover {
    cursor: pointer;
}

.header-logo:active,
.header-logo:focus {
    outline: none;
}

.search {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.search__input {
    margin-right: 15px;
}
