<div class="ui container">
    <button
        class="ui labeled small blue icon button"
        (click)="goBack()"
    >
        <i class="left arrow icon"></i>
        Назад
    </button>
    <h2 class="ui blue header">
        {{ movie?.title }}
        <div class="sub header">
            {{ movie?.original_title }}
        </div>
    </h2>

    <div
        class="ui floating message"
        [ngClass]="{'success': isInFavorites(movie?.id)}"
    >
        <div class="ui padded grid">
            <div class="middle aligned sixteen wide mobile eight wide tablet four wide computer column">
                <img
                    class="ui fluid image"
                    *ngIf="movie?.poster_path"
                    src="https://image.tmdb.org/t/p/w500{{movie?.poster_path}}"
                    alt="movie image"
                >
                <div class="two ui buttons">
                        <button
                        (click)="addToFavorite($event, movie)"
                        *ngIf="!isInFavorites(movie?.id)"
                        class="ui blue right button tiny"
                    >
                        Добавить в избранное
                    </button>
                    <button
                        (click)="removeFromFavorite($event, movie)"
                        *ngIf="isInFavorites(movie?.id)"
                        class="ui blue right button tiny"
                    >
                        Удалить из избранного
                    </button>
                </div>
            </div>

            <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
                <div class="ui centered grid">
                    <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                        <i *ngFor="let genre of movie?.genres" class="ui blue tag label">
                            {{ genre.name }}
                        </i>
                    </div>

                    <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                        <div class="ui sub header">
                            <span>Описание</span>
                        </div>
                        {{ movie?.overview }}
                    </div>
                </div>

                <div class="ui centered grid">
                    <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                        <div class="ui sub header">
                            <span>Рекомендации</span>
                        </div>
                        <span
                            *ngFor="let rec of recommendations; let isLast = last">
                            {{ rec.title }}{{ isLast ? '' : ', '}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
